# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log

# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
.env

# SQLite database
db/*.db

# Pytest cache
.pytest_cache/

# VSCode settings
.vscode/

# macOS system files
.DS_Store

# Bytecode cache
*.egg-info/
.eggs/

# Distribution / packaging
build/
dist/
*.egg
